<div class="row page-title clients-title">
  <div class="col-xs-4 col-xs-offset-1">
    <h2>Clients</h2>
  </div>
  <div class="col-xs-4">
    <form class="form-inline">
      <select class="form-control" data-ng-model="search.field" data-ng-change="filter()">
        <option value="">Field</option>
        <option value="id">ID</option>
        <option value="name">Name</option>
        <option value="user.name">Agent</option>
        <option value="policy.carrier">Carrier</option>
        <option value="policy.kind">Policy</option>
        <option value="quantity">Quantity</option>
        <option value="created_at">Effective Date</option>
        <option value="status">Status</option>
        <option value="notes">Notes</option>
      </select>
      <input type="text" class="form-control" placeholder="Search" data-ng-model="search.query" data-ng-change="filter()">
    </form>
  </div>
  <div class="col-xs-2 text-right">
    <a class="btn btn-success" role="button" data-ui-sref="auth.clients.new">Add Client</a>
  </div>
</div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <table class="table table-striped table-hover" data-ts-wrapper>
      <thead>
        <th data-ts-criteria="id" data-ts-default>ID</th>
        <th data-ts-criteria="name">Name</th>
        <th data-ts-criteria="user.name">Agent</th>
        <th data-ts-criteria="policy.carrier">Carrier</th>
        <th data-ts-criteria="policy.kind">Policy</th>
        <th data-ts-criteria="quantity">Quantity</th>
        <th data-ts-criteria="created_at">Effective date</th>
        <th data-ts-criteria="status">Status</th>
        <th data-ts-criteria="notes">Notes</th>
        <th></th>
      </thead>
      <tbody>
        <tr data-ng-repeat="client in clients" data-ts-repeat>
          <td>
            {{client.id}}
          </td>
          <td>
            {{client.name}}
          </td>
          <td>
            {{client.user.name}}
          </td>
          <td>
            {{client.policy.carrier}}
          </td>
          <td>
            {{client.policy.kind}}
          </td>
          <td>
            {{client.quantity}}
          </td>
          <td>
            {{client.created_at|date:'d-MMM-yyyy'}}
          </td>
          <td>
            {{client.status}}
          </td>
          <td>
            {{client.notes}}
          </td>
          <td>
            <a class="btn btn-xs btn-primary" data-ui-sref="auth.clients.edit({id: client.id})"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-xs btn-danger" data-ng-click="remove(client.id)"><i class="fa fa-times"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <footer class="text-right">
      <a class="btn btn-sm btn-primary" target="_self" href="api/clients/pdf">Export to PDF</a>
      <a class="btn btn-sm btn-primary" target="_self" href="api/clients/xls">Export to XLS</a>
    </footer>
  </div>
</div>
