<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="page-title">
      <h2>New Commission</h2>
    </div>
    <form name="commission" data-ng-submit="submit()">
      <div class="errors" ng-show="errors.length > 0">
        <div data-ng-repeat="error in errors">
          {{ error }}
        </div>
      </div>
      <div class="form-group">
        <label for="client">Client</label>
        <select class="form-control" data-ng-model="form.client_id" id="client" data-ng-required="true">
          <option data-ng-repeat="option in clients" value="{{option.id}}">{{option.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="statement_date">Statement Month</label>
        <input id="statement_date" type="text" class="form-control" placeholder="Statement Month" data-ng-model="form.statement_date" data-ng-required="true">
      </div>
      <div class="form-group">
        <label for="earned_date">Earned Month</label>
        <input id="earned_date" type="text" class="form-control" placeholder="Earned Month" data-ng-model="form.earned_date" data-ng-required="true">
      </div>
      <button type="submit" class="btn btn-primary" data-ng-disabled="processing">Create</button>
    </form>
  </div>
</div>
