<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="page-title">
      <h2>Generate Statement</h2>
    </div>
    <form name="statement" data-ng-submit="submit()">
      <div class="errors" ng-show="errors.length > 0">
        <div data-ng-repeat="error in errors">
          {{ error }}
        </div>
      </div>
      <div class="form-group">
        <label for="user">Agent</label>
        <div class="checkbox" data-ng-repeat="option in users">
          <label>
            <input type="checkbox" value="{{option.id}}">{{option.name}}
          </label>
        </div>
      </div>
      <div class="form-inline date-field">
        <div class="form-group">
          <div>
            <label>Statement Month</label>
          </div>
          <select class="form-control">
            <option>month</option>
          </select>
          <select class="form-control">
            <option>date</option>
          </select>
          <select class="form-control">
            <option>year</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" data-ng-disabled="processing">Create</button>
    </form>
  </div>
</div>
