<div class="row">
  <div class="col-xs-8 col-xs-offset-3">
    <div class="page-title">
      <h2>Generate Statement</h2>
    </div>
    <form name="statement" data-ng-submit="submit()">
      <div class="errors" ng-show="errors.length > 0">
        <div data-ng-repeat="error in errors">
          {{ error }}
        </div>
      </div>
      <div class="form-group">
        <label for="user">Agent</label>
        <div class="checkbox" data-ng-repeat="option in users">
          <label>
            <input
              type="checkbox"
              name="users"
              value="{{option.id}}"
              ng-checked="selection.indexOf(option.id) > -1"
              ng-click="toggleSelection(option.id)"
              >{{option.name}}
          </label>
        </div>
      </div>
      <div class="form-inline date-field">
        <div class="form-group">
          <div>
            <label>Statement Month</label>
          </div>
          <div>
          <select data-ng-model="form.month" class="form-control">
            <option value="">month</option>
            <option value="1">jan</option>
            <option value="2">feb</option>
            <option value="3">mar</option>
            <option value="4">apr</option>
            <option value="5">may</option>
            <option value="6">jun</option>
            <option value="7">jul</option>
            <option value="8">aug</option>
            <option value="9">sep</option>
            <option value="10">oct</option>
            <option value="11">nov</option>
            <option value="12">dec</option>
          </select>
          <select data-ng-model="form.year" class="form-control">
            <option value="">year</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
          </select>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" data-ng-disabled="processing">Create</button>
    </form>
  </div>
</div>
