<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="page-title">
      <h2>New Policy</h2>
    </div>
    <form name="policy" data-ng-submit="submit()">
      <div class="errors" ng-show="errors.length > 0">
        <div data-ng-repeat="error in errors">
          {{ error }}
        </div>
      </div>
      <div class="form-group">
        <label for="carrier">Carrier</label>
        <input id="carrier" type="text" class="form-control" placeholder="Carrier" data-ng-model="form.carrier" data-ng-required="true">
      </div>
      <div class="form-group">
        <label for="commission">Commission</label>
        <input id="commission" type="text" class="form-control" placeholder="Commission" data-ng-model="form.commission" data-ng-required="true">
      </div>
      <div class="form-group">
        <label for="kind">Type</label>
        <select class="form-control" data-ng-model="form.kind" id="kind">
          <option value="medical">Medical</option>
          <option value="dental">Dental</option>
          <option value="medicare">Medicare</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" data-ng-disabled="processing">Create</button>
    </form>
  </div>
</div>
