.date-field
{
  margin-bottom: 15px;

  select
  {
    //margin: 0 3%;
  }
}

.statement-summary
{
  td
  {
    padding: 5px;
  }

  td:first-child
  {
    font-weight: bold;
  }

  td:last-child
  {
    text-align: center;
  }
}
