<div class="row sign-in">
  <div class="col-xs-4 col-xs-offset-4">
    <form name="sign_in" data-ng-submit="signIn()">
      <div class="errors" ng-show="errors.length > 0">
        <div data-ng-repeat="error in errors">
          {{ error }}
        </div>
      </div>

      <div class="form-group">
        <input
          type="email"
          name="email"
          class="form-control"
          placeholder="Email"
          data-ng-model="form.email"
          data-ng-required="true"
        >
        <span class="error" ng-show="!init && sign_in.email.$error.required">The field is required</span>
      </div>

      <div class="form-group">
        <input
          type="password"
          name="password"
          class="form-control"
          placeholder="Password"
          data-ng-model="form.password"
          data-ng-required="true"
        >
        <span class="error" ng-show="!init && sign_in.password.$error.required">The field is required</span>
      </div>

      <p class="text-center">
        <button type="submit" class="btn btn-primary" data-ng-disabled="processing">
          Sign In
        </button>
      </p>
      <p class="register-btn text-center">
        <a class="btn btn-default btn-sm" data-ui-sref="users.signup">Don't have an account?</a>
      </p>
      <p class="login-or-register hidden">
        <a class="btn" data-ng-click="authenticate('facebook')">
          with Facebook
        </a>
        <a class="btn" data-ng-click="authenticate('google')">
          with Google+
        </a>
      </p>
    </form>
  </div>
</div>
