<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <form name="sign_in" data-ng-submit="signIn()">
      <div class="errors pi-small-text pi-text-red pi-margin-bottom-15" ng-show="errors.length > 0">
        <div data-ng-repeat="error in errors">
          {{ error }}
        </div>
      </div>

      <div class="form-group">
        <div class="pi-input-with-icon">
          <div class="pi-input-icon"><i class="icon-email"></i></div>
          <input
            type="email"
            name="email"
            class="form-control"
            placeholder="Email"
            data-ng-model="form.email"
            data-ng-required="true"
          >
        </div>
        <span class="error pi-small-text pi-text-red" ng-show="!init && sign_in.email.$error.required">The field is required</span>
      </div>

      <div class="form-group">
        <div class="pi-input-with-icon">
          <div class="pi-input-icon"><i class="icon-lock"></i></div>
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Password"
            data-ng-model="form.password"
            data-ng-required="true"
          >
        </div>
        <span class="error pi-small-text pi-text-red" ng-show="!init && sign_in.password.$error.required">The field is required</span>
      </div>

      <p>
        <button type="submit" class="btn pi-btn-base pi-btn-wide pi-weight-600" data-ng-disabled="processing">
          Sign In
        </button>
      </p>
      <p class="login-or-register hidden">
        <a class="btn pi-btn-base pi-weight-600" data-ng-click="authenticate('facebook')">
          with Facebook
        </a>
        <a class="btn pi-btn-base pi-weight-600" data-ng-click="authenticate('google')">
          with Google+
        </a>
      </p>

    </form>
  </div>
</div>
